/*-------------------------------------------------------vc icons-------------------------------------------------------*/
.vc_general.vc_element-icon.om_vc_icon_accordion{background-image: url(../img/accordion.png);background-position:0px;  }
.vc_general.vc_element-icon.om_vc_icon_call_to_action{background-image: url(../img/call-to-action.png);background-position:0px; }
.vc_general.vc_element-icon.om_vc_icon_line_chart{background-image: url(../img/line-chart.png);background-position:0px; }
.vc_general.vc_element-icon.om_vc_icon_pie_chart{background-image: url(../img/pie-chart.png);background-position:0px; }
.vc_general.vc_element-icon.om_vc_icon_process_bar{background-image: url(../img/process-bar.png);background-position:0px; }
.vc_general.vc_element-icon.om_vc_icon_round_chart{background-image: url(../img/round-chart.png);background-position:0px; }
.vc_general.vc_element-icon.om_vc_icon_separator{background-image: url(../img/separator.png);background-position:0px; }
.vc_general.vc_element-icon.om_vc_icon_separator_with_icon{background-image: url(../img/separator-with-icon.png);background-position:0px; }
.vc_general.vc_element-icon.om_vc_icon_tab{background-image: url(../img/tab.png);background-position:0px; }
.vc_general.vc_element-icon.om_vc_icon_tour{background-image: url(../img/tour.png);background-position:0px; }
.vc_element-icon.om_vc_icon_alert_box{background-image: url(../img/alert-box.png);background-position:0px; }
.vc_element-icon.om_vc_icon_blockquote{background-image: url(../img/blockquote.png);background-position:0px; }
.vc_element-icon.om_vc_icon_blog{background-image: url(../img/blog.png);background-position:0px; }
.vc_element-icon.om_vc_icon_clients{background-image: url(../img/clients.png);background-position:0px; }
.vc_element-icon.om_vc_icon_count_down{background-image: url(../img/count-down.png);background-position:0px; }
.vc_element-icon.om_vc_icon_counters{background-image: url(../img/counters.png);background-position:0px; }
.vc_element-icon.om_vc_icon_custom_heading{background-image: url(../img/custom-heading.png);background-position:0px; }
.vc_element-icon.om_vc_icon_faq{background-image: url(../img/faq.png);background-position:0px; }
.vc_element-icon.om_vc_icon_faq_accordion{background-image: url(../img/faq-accordion.png);background-position:0px; }
.vc_element-icon.om_vc_icon_icon_box1{background-image: url(../img/icon-box1.png);background-position:0px; }
.vc_element-icon.om_vc_icon_icon_box2{background-image: url(../img/icon-box2.png);background-position:0px; }
.vc_element-icon.om_vc_icon_icon_box3{background-image: url(../img/icon-box3.png);background-position:0px; }
.vc_element-icon.om_vc_icon_icon_list{background-image: url(../img/icon-list.png);background-position:0px; }
.vc_element-icon.om_vc_icon_image_3d{background-image: url(../img/image-3d.png);background-position:0px; }
.vc_element-icon.om_vc_icon_image_classical{background-image: url(../img/image-classical.png);background-position:0px; }
.vc_element-icon.om_vc_icon_image_morden{background-image: url(../img/image-morden.png);background-position:0px; }
.vc_element-icon.om_vc_icon_image_title{background-image: url(../img/image-title.png);background-position:0px; }
.vc_element-icon.om_vc_icon_list{background-image: url(../img/list.png);background-position:0px; }
.vc_element-icon.om_vc_icon_om_button{background-image: url(../img/om-button.png);background-position:0px; }
.vc_element-icon.om_vc_icon_portfolio{background-image: url(../img/portfolio.png);background-position:0px; }
.vc_element-icon.om_vc_icon_portfolio_carousel{background-image: url(../img/portfolio-carousel.png);background-position:0px; }
.vc_element-icon.om_vc_icon_prcing_table1{background-image: url(../img/prcing-table-1.png);background-position:0px; }
.vc_element-icon.om_vc_icon_prcing_table2{background-image: url(../img/prcing-table-2.png);background-position:0px; }
.vc_element-icon.om_vc_icon_prcing_table3{background-image: url(../img/prcing-table-3.png);background-position:0px; }
.vc_element-icon.om_vc_icon_team{background-image: url(../img/team.png);background-position:0px; }
.vc_element-icon.om_vc_icon_team_list{background-image: url(../img/team-list.png);background-position:0px; }
.vc_element-icon.om_vc_icon_testimonials{background-image: url(../img/testimonials.png);background-position:0px; }
.vc_element-icon.om_vc_icon_testimonials_with_image{background-image: url(../img/testimonials-with-image.png);background-position:0px; }
.vc_element-icon.om_vc_icon_timeline_h{background-image: url(../img/timeline-h.png);background-position:0px; }
.vc_element-icon.om_vc_icon_timeline_v{background-image: url(../img/timeline-v.png);background-position:0px; }
.vc_element-icon.om_vc_icon_title{background-image: url(../img/title.png);background-position:0px; }
.vc_element-icon.om_vc_icon_text_block{background-image: url(../img/text-block.png);background-position:0px; }
